body{
    background-color: burlywood;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header{
    background-color: crimson;
    padding: 20px 50px;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
}

nav{
    font-size: larger;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    
}

nav a{
    text-decoration: none;
    color: black;
    margin-left: 20px;
}
nav form #content{
    height: 30px;
    border: 2px solid grey;
}
nav a:hover{
    color: lightyellow;
    text-decoration: underline;
}

main{
    font-family: cursive;
    color: rgb(36, 53, 53);
    font-size: medium;
    padding: 20px;
}
sub a{
    display: inline;
    color: black;
}

sub a:hover{
    color: azure;
}

main h4{
    font-size: larger;
    font-weight: bold;
}

button{
    background-color: rgb(243, 237, 244);
    border: 2px solid white;
    color: black;
}

button:hover {
    color: red;
}

figcaption a{
    font-style: italic;
    text-decoration: none;
    color: black;
    margin-right: 5px;
    display: flex;
}

figcaption a:hover{
    color: red;
}

footer{
    text-align: center;
    font-size: medium;
    font-family:cursive;
    background-color: navajowhite;
    padding: 60px;
    margin: 0px;
}

footer h4{
    display: inline;
    color: rgb(2, 76, 172);
    font-size: medium;
}

footer h4 a{
    display: inline;
    color: rgb(2, 76, 172);
}

footer h4 a:hover{
    color: aliceblue;
    text-decoration: underline;
}

hr{
    border: 1px solid black;
}